*{
	padding: 0px;
	margin: 0px;
}

body {
    font-family: 'roboto_condensedregular';
	background:#ffffff;
	font-size: 100%;
}
.header_bg{
	background: #76C7C0;
}
.header{
	padding: 4% 0;
}
.logo{
	margin-top: 10px;
	float: left;
}
/* start h_menu */
.h_menu{
	float: right;
}
nav{
	display:block;
}
.menu{
	display:block;
}
.menu li{
	display:inline-block;
	position:relative;
	z-index:100;
}

.menu li:first-child{
	margin-left:0;
}

.menu li.activate a{
	background: #62A29E;
	border-radius: 4px;
	box-shadow: 0px 5px #528b86;
}

.menu li a:hover{
	background: #62A29E;
	border-radius: 4px;
}

.menu li a{
	text-transform:uppercase;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 24px;
	display: block;
	color: #ffffff;
}
.menu li a:hover,.menu li:hover>a{
	color:#ffffff;
	background: #e8645a;
	box-shadow: 0px 5px #e2534b;
}
.menu ul{
	display: none;
	margin: 0;
	padding: 0;
	width: 132px;
	position: absolute;
	top: 42px;
	left: 0px;
	background: #ffffff;
}
.menu ul li{display:block;float:none;background:none;margin:0;padding:0;}
.menu ul li a{
	font-size: 13px;
	font-weight: normal;
	display: block;
	color: #ffffff;
	border-left: 3px solid #C03C35;
	background: #E2534B;
	padding: 10px 20px;
	box-shadow: 0px 5px e2534b;
}
.menu ul li:hover>a{
	background: #f0f0f0;
	border-left: 3px solid #62A29E;
	color: #797979;
	box-shadow: none;
	border-radius: 0px;		
}
.menu ul li a:hover{
	background: #e5655d;
	border-left: 3px solid #62A29E;
	box-shadow: none;
	border-radius: 0px;	
	color: #ffffff;
}
.menu li:hover>ul{display:block;}
.menu ul ul{
	left: 132px;
	top: 0px;
}
.mobile-menu{
	display: none;
	width: 100%;
	padding: 12px;
	background: #528B86;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}
.mobile-menu:hover{background:#447F7A;color:#ffffff;text-decoration:none;}
@media (min-width: 768px) and (max-width: 979px) {.mainWrap{width:768px;}.menu ul{top:37px;} 
.menu li a{font-size:12px;padding:8px;}}
@media (max-width: 767px) {
	.mainWrap{width:auto;padding:50px 20px;}.menu{display:none;}.mobile-menu{display:block;margin-top:20px;}
nav{margin:0;background:none;}.menu li{display:block;margin:0;}.menu li a{background:#ffffff;color:#797979;border-top:1px solid #e0e0e0;
}
.menu li a:hover,.menu li:hover>a{background:#f0f0f0;color:#797979;
}
.menu ul{display:none;position:relative;top:0;left:0;width:100%;}
.menu ul ul{left:0;}
}
.main1_bg{
	background: #ececec;
}

.main_bg{
	background: #F3F3F3;
}
.main_grid{
	padding: 4% 0;
}
.top_grid{
	background: #ececec;
	padding: 4%;
	margin: 20px;
}
.span1_of_1 {
	padding: 0;
}
.span1_of_1 h3{
	margin:0;
	font-size: 28px;
	color: #8C9899;
}
.span1_of_1 p{
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
}
.span1_of_2{
	position: relative;
}

.main h4{
	color: #e1524b;
	font-size: 30px;
}

.btn-2 {
	background: #76c7c0;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
}

.span_of_4 {
	text-align: center;
	margin: 4% 0;
	position: relative;
}
.span1_of_4{
	padding: 0;
	margin-left: 20px;
	width: 23.577777%;
}
.span1_of_4:first-child{
	margin-left: 20px;
}
.span4_of_list{
	cursor:pointer;
	background: #ffffff;
	padding: 20px 20px 50px;
	border-radius: 4px;
}
.span4_of_list:hover.span4_of_list span i{
	color: #E8645A;	
	background: none;	
}
.span4_of_list .btn{
	box-shadow: 0 4px #47817E;
}
.span4_of_list:hover .btn{
	color:#ffffff;
	background: #E8645A;
	box-shadow: 0 4px #ab3c3c;
}
.span4_of_list span.active i{
	color: #E8645A;	
}
.span4_of_list span i{
	font-size:5em;
	color: #76C7C0;
	background: none;
	box-shadow:none;
	margin-top: 15px;
}
.span4_of_list h3{
	text-transform: uppercase;
	font-size: 20px;
	color: #8C9899;
	margin: 10px 0 10px;
}
.span4_of_list p{
	font-size: 14px;
	color: #888888;
	line-height: 1.5em;
}
.read_more{
	position: absolute;
	left: 19%;
	bottom: -16px;
}


.main_btm{
	background: #f3f3f3;
	margin-top: -14%;
	padding-top: 10%;
}
.span_of_3{
	margin: 4% 0;
}
.span1_of_3{
	padding: 0;
	position: relative;
}
.span1_of_3 h4{
	font-size: 20px;
	color: #7F8C8C;
	margin-bottom: 20px;	
	font-weight: bold;
}
.span1_of_3 h5{
	font-size: 16px;
	color: #7F8C8C;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.span1_of_3 h5 span{
	color: #E2534B;
}
.nav_list li a:before{
	content: url('../images/arrow.png');
	vertical-align: baseline;
	margin-right: 10px;
}
.nav_list li a{
	display:block;
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
}
.nav_list li a:hover{
	text-decoration:none;
	color: #E2534B;
}
.clients{
	padding: 20px;
	background: #ffffff;
}
.clients p{
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
}

.circle {
	text-align: center;
}
.circle_list li{
	text-align: center;
	display: inline-block;
	margin-left: 0px;
	width: 23%;
	
}
.circle_list h4{
	text-transform: uppercase;
	font-size: 18px;
}
.circle ul li{
	display: inline-block;
	margin-left: 15px;
}
.circle ul li:first-child{
	margin-left: 0;
}
.circle ul li h4{
	margin: 15px 0 10px;
}

.chart {
  position:relative;
  margin:30px auto 0 auto;
  
}
.tag {
	width: 100%;
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: 40%;
	color: #7F8C8C;
}

.cursual{
	position: relative;
}
.cursual h4{
	font-size: 20px;
	color: #7F8C8C;
	text-transform: capitalize;
	display: inline-block;
	margin: 0;
}
.line {
	border-bottom: 2px solid #DFDFDF;
	display: block;
	width: 100%;
}

.arrow{	
	display: block;
	width: 40px;
	height: 35px;
	background-color: #98a3a3;
	text-align: center;
	color: #ffffff;
	float: left;
	margin-right: 2px;
	border-radius: 5px;
	box-shadow: 0px 5px #7f8c8c;
	padding-top: 15px;
}

.arrow:hover{
	color: #ffffff;
	background: #e8645a;
	text-decoration: none;
	box-shadow: 0px 5px #e2534b;
}
.jquery-list{
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer_bg{
	background: #76C7C0;
}
.footer{
	padding: 4% 0;
}
.footer1_of_3{
	padding-left: 0px;
}
.footer_of_3{
	padding-right: 0px;
}
.f_logo{
	margin-bottom: 20px;
}
.footer1_of_3 p{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
}
.footer1_of_3 p span{
	font-size: 18px;
	font-style: italic;
}
.footer1_of_3 span{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
}
.footer1_of_3 span a{
	font-size: 18px;
	font-style: italic;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.footer1_of_3 span a:hover{

}
.footer1_of_3 h4 {
	font-size: 24px;
	color: #3C5A5A;
	text-transform: capitalize;
	margin: 0px 0px 15px;
}
.footer_of_3 h4{
	font-style: italic;
	font-size: 24px;
	color: #ffffff;
	margin: 0px 0px 15px;
}
.f_para{
	width: 90%;
}
.f_list li a{
	display:block;
	font-size: 14px;
	color: #ffffff;
	line-height: 1.8em;
}
.f_list li a:hover{
	text-decoration:none;
	color: #3C5A5A;
}
.footer_of_3 h4 span{
	font-style: normal;
	padding-left: 10px;
	text-transform: capitalize;
}
.blog_list{
	margin-top: 20px;
}
.blog_list:first-child{
	margin-top: 0;
}
.f_pic{
	padding: 0px;
}
.f_pic img{
	margin-top:5px;
}
.f_text{
	padding-right: 0px;
}
.f_text a{
	text-decoration:none;
}
.f_text p{
	font-size: 14px;
	color: #ffffff;
	line-height: 1.5em;
	margin: 0;
}
.f_text p:hover{

	color: #3C5A5A;
}
.f_text span{
	font-size: 14px;
	color: #3C5A5A;
	text-transform: capitalize;
	display: block;
	margin-top: 5px;
}

.footer1_bg{
	background: #6AB3AC;
}
.footer1{
	padding: 2% 0;
}
.copy p{
	color: #ffffff;
	font-size: 14px;
	line-height: 1.8em;
}


.soc_icons ul{
	margin-bottom: 0;
}
.soc_icons ul li{
	text-align:center;
	display:inline-block;
	margin-left: 20px;
}
.soc_icons ul li a i{
	color:#ffffff;
	font-size: 24px;
	display: block;
}
.soc_icons ul li a:hover{
	text-decoration:none;
}
.soc_icons ul li a:hover i{
	color: #E8645A;
}


h3.style{
	text-transform: uppercase;
	color: #62A09D;
	font-size: 24px;
	margin: 5px 0 0;
}

.about h3{
	color: #E2534B;
	font-size: 22px;
}
.para{
	font-size: 14px;
	color: #7F8C8C;
	line-height: 1.5em;
}

.main_btm2{
	background: #f0f0f0;
}
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.bg{
	background: #E2534B;
	border-radius: 75px;
}
.images_1_of_4  span i{
	font-size: 6em;
	color: #ffffff;
	line-height: 2em;
}
.btn{
	font-family: 'roboto_condensedregular';
	font-size: 14px;
	color: #FFFFFF !important;
	padding: 12px 30px;
	background: #76caca;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 5px #47817E;
}
.btn:hover{
	background: #e8645a;
	box-shadow: 0px 5px #e2534b;
}
	.menu li a {
		padding: 10px 18px;
	}
	.span1_of_4 {
		width: 22.77777%;
	}
	.line {
		width: 70%;
		left: 20%;
	}

@media only screen and (max-width: 768px) {
	.logo{
		float: none;
		text-align:center;
	}
	.h_menu{
		float:none;
	}
	.menu li.activate a, .menu li a:hover {
		background: #ffffff;
		box-shadow: 0px 5px #528b86;
		border-radius: 0px;	
	}
	
	ul.sub-menu{
		background: #e5655d;
		box-shadow: 5px 5px #e2534b;
	}
	
	ul.sub-menu:hover{
		background:  #e5655d;
	}
	.menu li a:hover{
		color:#ffffff;
		background:#E2534B;
	}
	.menu li a {
		font-size: 14px;
	}
	.span1_of_2 {
		padding-left: 0px;
	}
	.span1_of_1 h3 {
		font-size: 24px;
	}
	.span1_of_4 {
		padding: 0;
		margin-left: 0px;
		width: 100%;
		margin-bottom: 40px;
	}
	.read_more {
		left: 42%;
	}
	.line {
		width: 60%;
		left: 25%;
	}
	.footer1_of_3 h4 {
		margin: 10px 0px 10px;
	}
	.footer_of_3 {
		padding-left: 0px;
	}
	.blog_list {
		margin-top: 2%;
	}
	.f_text{
		padding-left: 0px;
	}
	.slider_text h4 {
		font-size: 28px;
	}
	.footer1_of_3 p {
		margin-bottom: 2px;
	}
